@import url('https://fonts.googleapis.com/css?family=Acme|Fredoka+One|Josefin+Sans:400,700|Nunito:400,400i,600,700,800|Permanent+Marker|Philosopher:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Fredoka+One|Lobster|Modak|Orbitron:400,700,900|Press+Start+2P|Righteous|Rock+Salt|Russo+One|VT323&display=swap');



/* 

font-family: 'Philosopher', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Fredoka One', cursive;
------------------------------------
font-family: 'Righteous', cursive;
font-family: 'Baloo Bhai', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;
font-family: 'Lobster', cursive;
font-family: 'Modak', cursive;

*/
*{
    padding: 0;
    margin: 0;
}

html, body, .grid-container {
    height: 100vh;
    width: 100%;
    margin: auto;
    background: linear-gradient(48deg,#5E84C9, #816ECF, #B879D2 , #B6D581, #fff);
    background-size: 600% 600%;
    
    -webkit-animation: bgMove 15s ease infinite;
    -moz-animation: bgMove 15s ease infinite;
    animation: bgMove 15s ease infinite;
  
}

@-webkit-keyframes bgMove {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes bgMove {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes bgMove {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}

.grid-container {
    margin: auto;
}


ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}
ul li {
    list-style: none;
    padding: 3%;
}

ul li:nth-child(3n) {
    padding-right: 4%;
}

ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Fredoka One', cursive;
}

ul li:hover {
    background-color: #5c2c2a;
}
/* ------------------- DEFINE ELEMENTS IN GRID CONTAINER ------------------------  */
.photo { 
    grid-area: photo; 
}

.home { 
    grid-area: home; 
}
.comptence-metier { 
    grid-area: CompM; 
}
.nav { 
    grid-area: nav;  
}

.logout { 
    grid-area: logout;
}

.design { 
    grid-area: DSG;  
}
.competence-tech { 
    grid-area: Tec;  
}
.softskills { 
    grid-area: S-S;  
} 

.interets { 
    grid-area: inter;  
} 

.autre { 
    grid-area: autre;  
} 

.contact { 
    grid-area: CTC;  
   
} 

/* ------------------- GRID CONTAINER ------------------------  */

.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(14, 1fr) ;
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas:
    ". . . . . . . . . . . . . ."
    ". photo photo photo photo nav nav nav nav nav nav home logout ."
    ". photo photo photo photo S-S S-S S-S S-S Tec Tec inter inter ."
    ". photo photo photo photo S-S S-S S-S S-S Tec Tec inter inter ."
    ". photo photo photo photo S-S S-S S-S S-S Tec Tec inter inter ."
    ". photo photo photo photo S-S S-S S-S S-S Tec Tec inter inter ."
    ". CompM CompM CompM CompM S-S S-S S-S S-S Tec Tec inter inter ."
    ". CompM CompM CompM CompM S-S S-S S-S S-S Tec Tec inter inter ."
    ". CompM CompM CompM CompM S-S S-S S-S S-S Tec Tec autre autre ."
    ". CompM CompM CompM CompM S-S S-S S-S S-S Tec Tec autre autre ."
    ". CompM CompM CompM CompM DSG DSG DSG DSG Tec Tec autre autre ."
    ". CompM CompM CompM CompM DSG DSG DSG DSG Tec Tec autre autre ."
    ". CompM CompM CompM CompM DSG DSG DSG DSG CTC CTC CTC CTC ."
    ". . . . . . . . . . . . . ."

}



 /* =========================================================== LOGIN CSS ======================================= */

 .logout h3 {
    font-family: 'Righteous', cursive;
    letter-spacing: .2em;
    text-align: center;
    margin: auto;
    padding-top: 12%;
}


 .logout {
    perspective: 1000px;
    background-color: transparent;
}

.logout .back a {
    align-self: center;
}
.logout .back a img {
    width: 22%;
    
}


.logout:hover .flip{
    transform: rotateX(180deg);
}



.logout .front {
    background: #782D86;
    color: white;
}

.logout .back{
    background: #2D0023;
    color: white;
    transform: rotateX(180deg);
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
}

 /* =========================================================== HOME CSS ======================================= */

 .home h3 {
    font-family: 'Righteous', cursive;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.home {
    perspective: 1000px;
    background-color: transparent;
}

.home:hover .flip{
    transform: rotateY(180deg);
}



.home .front {
    background: #362D86;
    color: white;
    
}

.home .back img {
    width: 40%;
    margin-top: 5%;
    vertical-align: middle;
}

.home .back{
    background: rgb(68, 56, 173);
    color: white;
    transform: rotateY(180deg);
}

 /* =========================================================== contact CSS ======================================= */


 .contact h3 {
    font-family:'Baloo Bhai', cursive;
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.contact {
    perspective: 1000px;
    background-color: transparent;
}


.contact:hover .flip{
    transform: rotateX(180deg);
}



.contact .front {
    background: #F76128;
    color: white;
}

.contact .back{
    background: #F76128;
    color: white;
    transform: rotateX(180deg);
}


 /* =========================================================== softskills CSS ======================================= */


 .softskills h3 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 2em;
    letter-spacing: .2em;
    text-align: center;
    margin: auto;
    margin-top: 35%;
}

.softskills {
    perspective: 1000px;
    background-color: transparent;
}


.softskills:hover .flip{
    transform: rotateX(180deg);
}



.softskills .front {
    background: #224567;
    color: white;
}

.softskills .back{
    background: #576658;
    color: white;
    transform: rotateX(180deg);
}



 /* =========================================================== competence-tech CSS ======================================= */


 .competence-tech h3 {
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
   
    letter-spacing: 1rem;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    text-orientation: upright;
    vertical-align: middle;
}

.competence-tech h3{
    align-self: center;
    margin-left: 25%;
}

.competence-tech {
    perspective: 1000px;
    background-color: transparent;
}


.competence-tech:hover .flip{
    transform: rotateY(180deg);
}



.competence-tech .front {
    background: #F5BF00;
    color: white;
    display: flex;
}

.competence-tech .back{
    background: #F5BF00;
    color: white;
    transform: rotateY(180deg);
    display: flex;
}


 /* =========================================================== Nav CSS ======================================= */


 .nav h3 {
    font-family: 'Righteous', cursive;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.nav {
    perspective: 1000px;
    background-color: transparent;
    display: flex;
    flex-flow: row;
}


.nav:hover .flip{
    transform: rotateX(180deg);
}



.nav .front {
    background: #451735;
    color: white;
    display: flex;
}

.nav .back{
    background: #451735;
    color: white;
    transform: rotateX(180deg);
    display: flex;
    
}

.nav .back ul{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
}


 /* =========================================================== interets CSS ======================================= */


 .interets h3 {
    font-family: 'Righteous', cursive;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.interets {
    perspective: 1000px;
    background-color: transparent;
}


.interets:hover .flip{
    transform: rotateX(180deg);
}



.interets .front {
    background: #182949;
    color: white;
    display: flex;
}

.interets .back{
    display: flex;
    background: #7CD1C8;
    color: white;
    transform: rotateX(180deg);
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
}

.interetsIcons img{
    width: 20%;
    padding: 5%;
    align-self: center;
}


 /* =========================================================== Autre CSS ======================================= */


 .autre h3 {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.autre {
    perspective: 1000px;
    background-color: transparent;
}


.autre:hover .flip{
    transform: rotateX(180deg);
}



.autre .front {
    background: #6AA551;
    color: white;
    display: flex;
}

.autre .back{
    display: flex;
    background: #6AA551;
    color: white;
    transform: rotateX(180deg);
}


 /* =========================================================== P H O T O CSS ======================================= */


 .photo h2, .photo h3, .photo h4 {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding: 2%;
}


.photo h2{
    margin-top: 5%;
}
  


.photo {
    perspective: 1000px;
    background-color: transparent;
}


.photo:hover .flip{
    transform: rotateY(180deg);
}



.photo .front {
    background: #C1445F;
    color: white;
    display: flex;
}

.photo .back{
    background: rgb(155, 54, 59);
    color: white;
    transform: rotateY(180deg);
}






 /* =========================================================== M E T I E R CSS ======================================= */


 .comptence-metier h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.comptence-metier {
    perspective: 1000px;
    background-color: transparent;
}


.comptence-metier:hover .flip{
    transform: rotateX(180deg);
}



.comptence-metier .front {
    background: #573B53;
    color: white;
    display: flex;
}

.comptence-metier .back{
    background: #16413D;
    color: white;
    transform: rotateX(180deg);
    display: flex;
}

.comptence-metier .flip .back a{
    text-decoration: none;
    color: #fff;
}


 /* =========================================================== DESIGN CSS ======================================= */


.design h3 {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    margin-top: 18%;
}

.design{
    perspective: 1000px;
    background-color: transparent;
}

.flip{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.design:hover .flip{
    transform: rotateX(180deg);
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  
}

.design .front {
    background: #2A0E1B;
    color: white;
}

.design .back{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background: rgb(92, 0, 0);
    color: white;
    transform: rotateX(180deg);
    align-items: center;
    
}

.design .back .designIcons img{
    width: 8%;
    padding: 10px;
}

/*------------------------------------------------CONTACT ICONS--------------------------------------- */

.contactIcons{
    display: flex;
    flex-flow: row;
    justify-content: center; 
    flex-wrap: row wrap; 
    align-items: center;
}

.contactIcons > a{
    margin-top: 3%;
    width: 10%;
    
}
